<?xml version="1.0" encoding="utf-8"?>
<!-- suppress AndroidDomInspection -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.helloandroid" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 구글 맵을 위해 추가 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Open GL 버전2 지원여부 (Google Map) -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBRiCUg_e0RACNHRFF-M4NQ7Zz4KM7lCWs" />

        <!-- pkg_mainFrame 실습 메뉴 메인 엑티비티 -->
        <activity
            android:name=".MenuMain"
            android:label="@string/title_activity_adapter_list_exam2__main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuSub"
            android:label="@string/title_activity_adapter_list_exam2__sub" >
        </activity>

        <!-- pkg_activity 액티비티 목록 -->
        <activity
            android:name=".pkg_activity.FirstActivity"
            android:label="@string/title_activity_first" >
        </activity>
        <activity
            android:name=".pkg_activity.SecondActivity"
            android:label="@string/title_activity_second" >
        </activity>
        <activity
            android:name=".pkg_activity.RelativeLayoutExamActivity"
            android:label="@string/title_activity_relative_layout_exam" >
        </activity>
        <activity
            android:name=".pkg_activity.TableLayoutExamActivity"
            android:label="@string/title_activity_table_layout_exam" >
        </activity>
        <activity
            android:name=".pkg_activity.FrameLayoutExamActivity"
            android:label="@string/title_activity_frame_layout_exam" >
        </activity>
        <activity
            android:name=".pkg_activity.EditTextActivity"
            android:label="@string/title_activity_edit_text" >
        </activity>
        <activity
            android:name=".pkg_activity.ActivityExamActivity"
            android:label="@string/title_activity_activity_exam" >
        </activity>
        <activity
            android:name=".pkg_activity.TargetExamActivity"
            android:label="@string/title_activity_target_exam" >
        </activity>

        <!-- pkg_adapter 액티비티 목록 -->
        <activity
            android:name=".pkg_adapter.ListViewExam"
            android:label="@string/title_activity_list_view_exam" >
        </activity>
        <activity
            android:name=".pkg_adapter.ListViewCustom"
            android:label="@string/title_activity_item_use_base_adapter" >
        </activity>
        <activity
            android:name=".pkg_adapter.SpinnerExam"
            android:label="@string/title_activity_spinner_exam" >
        </activity>
        <activity
            android:name=".pkg_adapter.GridView_Calendar"
            android:label="@string/title_activity_grid_view__calendar" >
        </activity>

        <!-- pkg_event 액티비티 목록 -->
        <activity
            android:name=".pkg_event.TouchEventActivity"
            android:label="@string/title_activity_touch_event" >
        </activity>

        <!-- pkg_mission 액티비티 목록 -->
        <activity
            android:name=".pkg_mission.Mission_193Page"
            android:label="@string/title_activity_mission_193_page" >
        </activity>
        <activity
            android:name=".pkg_mission.Mission_271Page"
            android:label="@string/title_activity_mission_271_page" >
        </activity>
        <activity
            android:name=".pkg_mission.Mission_271Page_sub1"
            android:label="@string/title_activity_mission_271_page_sub1" >
        </activity>
        <activity
            android:name=".pkg_mission.Mission_332Page"
            android:label="@string/title_activity_mission_332_page" >
        </activity>
        <activity
            android:name=".pkg_mission.Mission_333Page"
            android:label="@string/title_activity_mission_333_page" >
        </activity>
        <activity
            android:name=".pkg_mission.Mission_392Page"
            android:label="@string/title_activity_mission_392_page" >
        </activity>
        <activity
            android:name=".pkg_mission.Mission_593Page"
            android:label="@string/title_activity_mission_593_page" >
        </activity>

        <!-- pkg_thread 액티비티 목록 -->
        <activity
            android:name=".pkg_thread.thread01_run"
            android:label="@string/title_activity_thread01_run" >
        </activity>
        <activity
            android:name=".pkg_thread.thread02_progress"
            android:label="@string/title_activity_thread02_progress" >
        </activity>
        <activity
            android:name=".pkg_thread.thread03_Runnable"
            android:label="@string/title_activity_thread03__runnable" >
        </activity>
        <activity
            android:name=".pkg_thread.thread04_AsyncTask"
            android:label="@string/title_activity_thread03__async_task" >
        </activity>
        <activity
            android:name=".pkg_thread.thread05_Login"
            android:label="@string/title_activity_thread05__login" >
        </activity>
        <activity
            android:name=".pkg_thread.thread06_StopWatch"
            android:label="@string/title_activity_thread06__stop_watch" >
        </activity>
        <activity
            android:name=".pkg_thread.thread07_StopWatch"
            android:label="@string/title_activity_thread07__stop_watch" >
        </activity>
        <activity
            android:name=".pkg_thread.thread08_DelayRunnable"
            android:label="@string/title_activity_thread08__delay_runnable" >
        </activity>
        <activity
            android:name=".pkg_thread.thread09_Looper"
            android:label="@string/title_activity_thread09__looper" >
        </activity>

        <!-- project_apiTest 액티비티 목록 -->
        <activity
            android:name=".project_apiTest.Google_API_Map"
            android:label="@string/title_activity_google__api__map" >
        </activity>
        <activity
            android:name=".project_apiTest.Daum_API_Map"
            android:label="@string/title_activity_daum__api__map" >
        </activity>

        <!-- pkg_parsing 액티비티 목록 -->
        <activity
            android:name=".pkg_parsing.xml_Parser_test"
            android:label="@string/title_activity_xml__parser_test" >
        </activity>
        <activity
            android:name=".pkg_parsing.xml_json_test"
            android:label="@string/title_activity_xml_json_test" >
        </activity>
        <activity
            android:name=".pkg_parsing.Parsing01_Main"
            android:label="@string/title_activity_parsing01__main" >
        </activity>
        <activity
            android:name=".pkg_parsing.Parsing04_WebView"
            android:label="@string/title_activity_parsing04__web_view" >
        </activity>
        <activity
            android:name=".pkg_parsing.Parsing06_YouTube"
            android:label="@string/title_activity_parsing06__you_tube" >
        </activity>

        <!-- pkg_db 액티비티 목록 -->
        <activity
            android:name=".pkg_db.DB01_Create"
            android:label="@string/title_activity_db01__create" >
        </activity>
        <activity
            android:name=".pkg_db.DB02_HelperActivity"
            android:label="@string/title_activity_db02__db__search_use_helper" >
        </activity>
        <activity
            android:name=".pkg_db.DB03_TableActivity"
            android:label="@string/title_activity_db03__table" >
        </activity>
        <activity
            android:name=".pkg_db.DB04_SharedPreferences"
            android:label="@string/title_activity_db04__shared_preferences" >
        </activity>
        <activity
            android:name=".pkg_db.DB05_FileSave"
            android:label="@string/title_activity_db05__file_save" >
        </activity>

        <!-- project_team 액티비티 목록 -->
        <activity
            android:name=".project_team.TourList_DB_Activity"
            android:label="@string/title_activity_tour_list__db_" >
        </activity>
        <activity
            android:name=".project_team.TourList_CODEMT_Activity"
            android:label="@string/title_activity_tour_list_codemt_activity" >
        </activity>
        <activity
            android:name=".project_team.TourList_LISTMT_Activity"
            android:label="@string/title_activity_tour_list__listmt_" >
        </activity>
        <activity
            android:name=".project_team.TourList_PHOTODT_Activity"
            android:label="@string/title_activity_tour_list__photodt_" >
        </activity>

        <!-- pkg_network 액티비티 목록 -->
        <activity
            android:name=".pkg_network.Local_Socket_Chat"
            android:label="@string/title_activity_socket__chat" >
        </activity>
        <activity
            android:name=".pkg_network.Remote_Client"
            android:label="@string/title_activity_remote__socket__chat"
            android:theme="@style/NewTheme" >
        </activity>
        <activity
            android:name=".pkg_network.Remocon_Client"
            android:label="@string/title_activity_remocon__client" >
        </activity>

        <!-- pkg_actionbar 액티비티 목록 -->
        <activity
            android:name=".pkg_actionbar.ActionBarExamActivity"
            android:label="@string/title_activity_action_bar_exam" >
        </activity>
        <activity
            android:name=".pkg_actionbar.CustomActionBar"
            android:label="@string/title_activity_custom_action_bar" >
        </activity>
        <activity
            android:name=".pkg_multimedia.Camera_Intent"
            android:label="@string/title_activity_camera__intent" >
        </activity>
    </application>

</manifest>
